/* Modal CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}



.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Estilo da tabela */
table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
}

th,
td {
    text-align: center;
    padding: 10px;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Estilo Formulário Para não aparecer */

.formulario {
    display: none;
}

/* Estilo da Página */
body {
    background-color: #f2cc8f
}

button {
    background-color: #274C77;
    border-radius: 6px;
    padding: 10px 10px 10px 10px;
    height: 30px;
    border: none;
    
}

.header {
    display: flex;
    background-color: #f2cc8f;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 10px 20px;
    height: 80px;
    align-items: center;
}

.menu-header {
    text-align: right;
    display: flex;

}

.header-logo {
    height: 50px;
    margin-left: 20px;
}

.menu-header-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fff;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    margin-right: 20px;
}

button:hover {
    padding-top: 2px;
}

.conteudo-transferencia {
    
    border: 1px solid #274C77;
    display: flex;
    flex-direction: column;
    
    padding: 10px 10px 10px 10px;
    margin-left: 550px;
    border-radius: 10px;
    background-color: #f4f1de;
    justify-content: center;
    height: fit-content;
    width: fit-content;
}

.conteudo-transferencia-origem {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    justify-content: center;
}

.conteudo-transferencia-origem-input, .conteudo-transferencia-destino-input, .conteudo-transferencia-cadastrar-cliente-input, .conteudo-cadastrar-conta-input{
    height: 30px;
    width: 340px;
    margin-top: 5px;
    background-color: #e8e5d5;
    border: 1px solid rgb(41, 40, 40);
    border-radius: 6px;

}

.conteudo-transferencia-origem-input-dropdown {
    height: 30px;
    width: 100px;
    margin-top: 5px;
    background-color: #e8e5d5;
    border: 1px solid rgb(41, 40, 40);
    border-radius: 6px;
}

.conteudo-transferencia-destino {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    justify-content: center;
    
}

.conteudo-transferencia-destino-botao, .conteudo-cadastrar-conta-botao {
    height: 30px;
    width: 340px;
    margin-top: 25px;
    border-radius: 6px;
    align-items: center;

}

.conteudo-cadastrar-cliente {
    background-color: #f4f1de;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    width: fit-content;
    padding: 10px;
    border: 1px solid #274C77;
    border-radius: 10px;
    margin-left: 550px;
}

.conteudo-transferencia-cadastrar-cliente-botao {
    height: 30px;
    width: 340px;
    margin-top: 25px;
    border-radius: 6px;
}

.conteudo-cadastrar-conta {
    background-color: #f4f1de;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    width: fit-content;
    padding: 10px;
    border: 1px solid #274C77;
    border-radius: 10px;
    margin-left: 550px;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.transfer-form {
    width: 400px;
    height: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}



h2 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

h3 {
    text-align: left;
    margin-bottom: 10px;
}

label {
    margin-top: 10px;
}